[Unit]
Description=Gunicorn instance to serve URL Checker app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/urlscanner
ExecStart=/home/ubuntu/urlscanner/venv/bin/gunicorn --workers 3 --bind unix:/tmp/urlchecker.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
